<nav id="nadvar" class="menu">
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/habilidades">Habilidades</a></li>
        <li><a href="/portafolio">Proyectos</a></li>
        <li><a href="/educacion">Estudios</a></li>
        <li><a href="/contactos">Contacto</a></li>
    </ul>
</nav>