<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Habilidades</title>
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="/css/normalize.css">
</head>

<body>
    {{>header}}
    {{>nadvar}}

    {{!-- contenido principal --}}
    <main>
        <div class="habilidades">
            <div class="habilidad">

                <img src="/img/redes.png" alt="redes" class="icono-habilidad">
                <p class="p-h">
                    Asignación de direcciones IP a dispositivos dentro de una red para permitir su identificación y
                    comunicación, ya sea de forma manual (estática) o automática (dinámica) mediante DHCP. Configuración
                    de máscara de subred, puerta de enlace, DNS y cableado estructurado.
                </p>
                {{!-- progreso --}}
                <div class="progress-container">
                    <div class="progress-bar" id="progress-bar" data-percentage="50">50%</div>
                </div>
            </div>

            <div class="habilidad">

                <img src="/img/html-5.png" alt="html-5" class="icono-habilidad">
                <p class="p-h">
                    Construcción y estructuración de páginas web mediante el uso de etiquetas HTML para organizar
                    contenido, como encabezados, párrafos, listas, imágenes y enlaces. Aplicación de atributos básicos
                    para mejorar la accesibilidad y semántica de la página.
                </p>
                {{!-- progreso --}}
                <div class="progress-container">
                    <div class="progress-bar" id="progress-bar" data-percentage="30">30%</div>
                </div>
            </div>
            <div class="habilidad">

                <img src="/img/css-3.png" alt="css3" class="icono-habilidad">
                <p class="p-h">
                    Estilizar páginas web, aplicación de colores, tipografías, márgenes, y espacios para mejorar la
                    presentación visual. Utilización de selectores y reglas CSS básicas para dar formato a los elementos
                    HTML, implementación de estilos responsivos para adaptar la página a diferentes tamaños de pantalla.
                    Animaciones y efectos visuales simples.
                </p>
                {{!-- progreso --}}
                <div class="progress-container">
                    <div class="progress-bar" id="progress-bar" data-percentage="25">25%</div>
                </div>
            </div>
            <div class="habilidad">

                <img src="/img/de.png" alt="devexpress" class="icono-habilidad">
                <p class="p-h">
                    Creación y personalización de reportes utilizando la herramienta de informes de DevExpress. Diseño
                    de reportes visuales en el diseñador de reportes, configuración de datos de origen para conectar los
                    reportes a bases de datos o servicios, y aplicación de estilos y formatos básicos a los informes.
                    Implementación de parámetros y filtros para personalización de la visualización de datos, generación
                    y exportación de reportes en diversos formatos, como PDF y Excel.
                </p>
                {{!-- progreso --}}
                <div class="progress-container">
                    <div class="progress-bar" id="progress-bar" data-percentage="40">40%</div>
                </div>
            </div>
            <div class="habilidad">

                <img src="/img/Cs.png" alt="C#" class="icono-habilidad">
                <p class="p-h">
                    Escribir y depurar código, estructuras de control como ciclos y condicionantes, creación clases y
                    objetos para implementar la lógica del programa. Desarrollo de aplicaciones en entornos como .NET
                    Framework, utilizando Visual Studio como IDE.Creación de aplicaciones básicas de consola,
                    aplicaciones de escritorio con Windows Forms y aplicaciones Web con Web Forms, conectado a base de
                    datos SQL Server
                </p>
                {{!-- progreso --}}
                <div class="progress-container">
                    <div class="progress-bar" id="progress-bar" data-percentage="25">25%</div>
                </div>
            </div>
            <div class="habilidad">

                <img src="/img/c++.png" alt="C++" class="icono-habilidad">
                <p class="p-h">
                    Escribir y depurar código, utilizar estructuras de control (como ciclos y condiciones), y trabajar
                    con funciones y clases para organizar el código de manera modular. Aplicación de conceptos de
                    programación orientada a objetos, como herencia, polimorfismo. Gestión de memoria a través de
                    punteros y referencias, y realizar pruebas unitarias básicas para garantizar la calidad del código.
                    Aplicaciones de escritorio con Windows Forms, conectado a base de datos SQL Server.
                </p>
                {{!-- progreso --}}
                <div class="progress-container">
                    <div class="progress-bar" id="progress-bar" data-percentage="30">30%</div>
                </div>
            </div>
            <div class="habilidad">

                <img src="/img/sqlserver.png" alt="SQL Server" class="icono-habilidad">
                <p class="p-h">
                    Consultas para manipulación de datos (SELECT, INSERT, UPDATE, DELETE), manejo tablas, y optimización
                    de consultas. Mantenimiento de bases de datos, como transacciones y registros, generación de
                    reportes simples, y conexión con programas desarrollados en leguajes de programación como C++ y C#.
                </p>
                {{!-- progreso --}}
                <div class="progress-container">
                    <div class="progress-bar" id="progress-bar" data-percentage="45">45%</div>
                </div>
            </div>

            <div class="habilidad">

                <img src="/img/virtualizacion.jpg" alt="virtualizacion" class="icono-habilidad">
                <p class="p-h">
                    Ejecución de múltiples sistemas operativos o aplicaciones en un solo hardware físico, creando
                    "máquinas virtuales" (VMs) independientes. Esto se logra mediante el uso de software de
                    virtualización (Vware o VirtualBox), que asigna recursos del sistema a cada máquina virtual de forma
                    aislada.
                </p>
                {{!-- progreso --}}
                <div class="progress-container">
                    <div class="progress-bar" id="progress-bar" data-percentage="50">50%</div>
                </div>
            </div>

            <div class="habilidad">

                <img src="/img/javascript.png" alt="javascript" class="icono-habilidad">
                <p class="p-h">
                    Escribir código para agregar interactividad y dinámicas a las páginas web. Uso de funciones y
                    estructuras de control (como bucles y condicionales), responder a eventos (como clics y
                    desplazamientos) y realizar validaciones básicas de formularios.
                    {{!-- progreso --}}
                <div class="progress-container">
                    <div class="progress-bar" id="progress-bar" data-percentage="20">20%</div>
                </div>
            </div>


        </div>
    </main>

    {{>footer}}

    <script src="/js/progreso.js"></script>
</body>

</html>