<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Portafolio</title>
    <link rel="stylesheet" href="./css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
</head>

<body>
    {{>header}}
    {{>nadvar}}

    {{!-- contenido principal --}}
    <main>
        <div class="separador2">
            <div class="separador">

                {{!-- <marquee scrollamount="15" onmouseover="this.stop();" onmouseout="this.start();">
                    <h1 class="h1-i">Johny David Chiroy Guarcax</h1>
                </marquee> --}}

                <h1 class="h1-i">Johny David Chiroy</h1>

                <p class="p-i"> <strong>Edad: </strong>22 años.</p>
                <p class="p-i"> <strong>Fecha de Nacimiento: </strong>03 de Agosto del 2002.</p>
                <p class="p-i"> <strong>Dirección: </strong>Caserío Chuacruz, Sololá, Sololá.</p>
                <h2>Estudiante de Ingeniería en Sistemas de Información y Ciencias de la Computación</h2>
                <p class="p-i">Me dedico a aprender sobre el diseño, desarrollo y mantenimiento de sistemas
                    informáticos.
                    Adquiero conocimientos en programación, bases de datos, redes, y otras áreas relacionadas con la
                    tecnología y la computación. Mi objetivo es resolver problemas mediante la creación y optimización
                    de
                    software y hardware.</p>
            </div>
            <div class="cuadro-foto">
                <img src="img/Johny David Chiroy Guarcax.png" alt="" class="foto">
            </div>
        </div>
        <div class="cuadrofin">
            <p class="p-i">Exploro nuevas tecnologías y participo en proyectos de software. También me
                gusta aprender sobre bases de datos; así como estar al tanto de las últimas tendencias en
                tecnología. Además, experimentar con diferentes lenguajes de programación y plataformas.</p>

            <h2>Misión</h2>
            <p class="p-i">Desarrollar habilidades y conocimientos en ingeniería de sistemas, enfocándome en el diseño,
                desarrollo y mantenimiento de soluciones informáticas efectivas. Mi compromiso es aprender y aplicar
                técnicas avanzadas en programación, gestión de bases de datos y redes para crear software y hardware que
                resuelvan problemas reales, optimizando así la experiencia del usuario y la eficiencia operativa.</p>

            <h2>Visión</h2>
            <p class="p-i">Convertirme en un profesional destacado en el campo de la ingeniería en sistemas de
                información, reconocido por mi capacidad para innovar y aportar soluciones tecnológicas que transformen
                y mejoren el entorno empresarial. Aspiro a ser parte de un equipo que promueva la creatividad y la
                mejora continua, contribuyendo al avance de la tecnología y al desarrollo sostenible a través de la
                creación de sistemas informáticos robustos y escalables.</p><br><br><br><br>
        </div>
    </main>

    {{>footer}}

</body>

</html>