<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MRU y MRUV</title>
    <link rel="stylesheet" href="./css/estilosproyectos.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
</head>

<body>
    {{>header}}
    {{>nadvar}}

    {{!-- contenido principal --}}
    <main>
        <div class="container">
            <h2>MRU y MRUV</h2>
            <div class="section">
                <iframe class="video" width="560" height="315"
                    src="https://www.youtube.com/embed/XVY_Bpj-7uA?si=eWs8lXZzvemagI0E" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

                <h3>Detalles de la Página Web</h3>
                <div class="proyecto1">
                    <p class="p-p"><strong>Descripción:</strong> El proyecto está publicado en GitHub Pages y ofrece un
                        recurso educativo interactivo sobre los temas de Movimiento Rectilíneo Uniforme (MRU) y
                        Movimiento Rectilíneo Uniformemente Variado (MRUV). En la plataforma, pueden
                        encontrar explicaciones detalladas de cada tema, acompañadas de ejemplos prácticos que facilitan
                        la comprensión de los conceptos fundamentales. <br><br>

                        Además, el proyecto incluye calculadoras específicas para cada tema, permitiendo a los usuarios
                        realizar cálculos directamente en la página. Están diseñadas para ayudar a los estudiantes a
                        aplicar los conceptos aprendidos y verificar sus resultados de manera sencilla. Con una interfaz
                        amigable y accesible, el proyecto es en una herramienta valiosa para quienes desean profundizar
                        en estos temas de física, ofreciendo tanto teoría como aplicaciones prácticas. El contenido es
                        fácilmente accesible desde cualquier dispositivo con conexión a Internet, fomentando así el
                        aprendizaje autónomo y la práctica constante.</p>

                    <p class="p-p"><strong>Categoría:</strong> Educativa</p>
                    <p class="p-p"><strong>Tecnologías Utilizadas:</strong>HTML, CSS, Javascript</p>
                    <a href="https://github.com/JohnyChiroy/mru_mruv.github.io" target="_blank" class="redes-icono">
                        <p class="p-desc"><strong>Repositorio GitHub</strong></p>
                        <img src="/img/github.png" alt="GitHub">
                    </a><br>
                    <p class="p-desc"><strong>Haz clic para ver el proyecto</strong></p>
                    <a href="https://johnychiroy.github.io/mru_mruv.github.io/" target="_blank"><img
                            src="/img/ProyectoMRUMRUV.png" alt="p-MRU-MRUV" class="icono-proyecto"
                            title="Ver en GitHub"></a>
                </div>
            </div>

        </div>
    </main>

    {{>footer}}

</body>

</html>