<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JubilaciónIPM</title>
    <link rel="stylesheet" href="./css/estilosproyectos.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
</head>

<body>
    {{>header}}
    {{>nadvar}}

    {{!-- contenido principal --}}
    <main>
        <div class="container">
            <h2>Jubilación IPM</h2>
            <iframe class="video" width="560" height="315"
                src="https://www.youtube.com/embed/WiS44AoA1rU?si=3iHkQOSqZbUAPoqM" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <div class="section">
                <h3>Detalles de la Página Web</h3>
                <div class="proyecto1">

                    <p class="p-p"><strong>Descripción:</strong> El proyecto, publicado en GitHub Pages, es una
                        herramienta interactiva para calcular la Jubilación IPM. Los usuarios pueden ingresar datos
                        relevantes a través de un formulario sencillo y accesible, facilitando el cálculo y obteniendo
                        resultados claros. La interfaz es amigable, permitiendo que personas de diferentes niveles de
                        conocimiento naveguen con facilidad. Cada campo del formulario cuenta con descripciones que
                        orientan sobre la información requerida para garantizar datos precisos. Al estar disponible en
                        línea, la herramienta puede ser utilizada de forma gratuita desde cualquier dispositivo con
                        conexión a Internet. <br><br>
                        El proyecto no solo simplifica el cálculo de la Jubilación IPM, sino que
                        también educa a los usuarios sobre la importancia de estos indicadores en la planificación
                        financiera para la jubilación.</p>
                    <p class="p-p"><strong>Categoría:</strong> Ayuda</p>
                    <p class="p-p"><strong>Tecnologías Utilizadas:</strong>HTML, CSS, Javascript</p>
                    <a href="https://github.com/JohnyChiroy/jubilacionIPM.github.io" target="_blank"
                        class="redes-icono">
                        <p class="p-desc"><strong>Repositorio GitHub</strong></p>
                        <img src="/img/github.png" alt="GitHub">
                    </a><br>
                    <p class="p-desc"><strong>Haz clic para ver el proyecto</strong></p>
                    <a href="https://johnychiroy.github.io/jubilacionIPM.github.io/" target="_blank"><img
                            src="/img/proJubilacionIPM.png" alt="p-Jubilacion" class="icono-proyecto"
                            title="Ver en GitHub"></a>
                </div>
            </div>

        </div>
    </main>

    {{>footer}}

</body>

</html>