<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EticaProfesional</title>
    <link rel="stylesheet" href="./css/estilosproyectos.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
</head>

<body>
    {{>header}}
    {{>nadvar}}

    {{!-- contenido principal --}}
    <main>
        <div class="container">
            <h2>Principios para una Vida Plena - Etica Profesional</h2>

            <iframe class="video" width="560" height="315"
                src="https://www.youtube.com/embed/cx1kbB6zbv0?si=pdzUCdtKN0eyIKs1" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <div class="section">
                <h3>Detalles de la Página Web</h3>
                <div class="proyecto1">

                    <p class="p-p"><strong>Descripción:</strong>El proyecto está publicado en GitHub Pages y ofrece un
                        recurso educativo integral basado en los temas del libro "Principios para una Vida Plena", así
                        como en conceptos clave relacionados con la ética profesional. Este recurso proporciona
                        resúmenes y análisis de cada capítulo del libro, destacando sus enseñanzas y su aplicabilidad en
                        la vida cotidiana. Además, se exploran temas de ética profesional, abordando cuestiones como la
                        responsabilidad, la integridad y la toma de decisiones éticas en el entorno laboral. <br><br>

                        La plataforma es accesible desde cualquier dispositivo con conexión a Internet, lo que permite a
                        los usuarios consultar el contenido en cualquier momento y lugar. También incluye ejemplos
                        prácticos y reflexiones que fomentan el desarrollo personal y profesional. Al integrar teoría y
                        práctica, el proyecto busca ayudar a los usuarios a adoptar estos principios en su vida diaria y
                        en su carrera. Con un diseño amigable y fácil de navegar, este recurso es valioso tanto para
                        estudiantes como para profesionales que desean profundizar en estos temas.</p>
                    <p class="p-p"><strong>Categoría:</strong> Educativa</p>
                    <p class="p-p"><strong>Tecnologías Utilizadas:</strong>HTML y CSS</p>
                    <a href="https://github.com/JohnyChiroy/proyectoetica" target="_blank" class="redes-icono">
                        <p class="p-desc"><strong>Repositorio GitHub</strong></p>
                        <img src="/img/github.png" alt="GitHub">
                    </a><br>
                    <p class="p-desc"><strong>Haz clic para ver el proyecto</strong></p>
                    <a href="https://johnychiroy.github.io/proyectoetica/" target="_blank"><img src="/img/proetica.png"
                            alt="p-EticaProfesional" class="icono-proyecto" title="Ver en GitHub"></a>
                </div>
            </div>

        </div>
    </main>

    {{>footer}}

</body>

</html>