<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tienda</title>
    <link rel="stylesheet" href="./css/estilosproyectos.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
</head>

<body>
    {{>header}}
    {{>nadvar}}

    {{!-- contenido principal --}}
    <main>
        <div class="container">
            <h2>Gestion de Tienda</h2>

            <div class="section">
                <h3>Detalles de la Página Web</h3>
                <div class="proyecto1">

                    <p class="p-p"><strong>Descripción:</strong> Este proyecto de escritorio está diseñado para
                        facilitar la gestión de una tienda, permitiendo a los usuarios ingresar, actualizar y eliminar
                        registros de productos de manera eficiente. La interfaz es intuitiva, lo que garantiza que tanto
                        los empleados como los administradores puedan navegar fácilmente a través de las diferentes
                        funciones del software. Cada registro de producto incluye detalles como el nombre, precio,
                        cantidad y descripción, lo que permite mantener un inventario organizado y actualizado. <br><br>

                        Además, el sistema cuenta con funcionalidades para gestionar usuarios, lo que permite crear,
                        modificar y eliminar cuentas de empleados según sea necesario. Esto incluye la asignación de
                        roles y permisos, asegurando que cada usuario tenga acceso adecuado a las funciones de la
                        aplicación según su nivel de responsabilidad. </p>
                    <p class="p-p"><strong>Categoría:</strong> Ventas</p>
                    <p class="p-p"><strong>Tecnologías Utilizadas:</strong>C++</p>
                    <p class="p-desc"><strong>Haz clic para ver el repositorio en GitHub</strong></p>
                    <a href="https://github.com/JohnyChiroy/Gestion-Tienda" target="_blank"><img src="/img/p-tiendagestion.png"
                            alt="p-tiendagestion" class="icono-proyecto" title="Ver en GitHub"></a>
                </div>
            </div>

        </div>
    </main>

    {{>footer}}

</body>

</html>