<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AnalizadorLéxico</title>
    <link rel="stylesheet" href="./css/estilosproyectos.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
</head>

<body>
    {{>header}}
    {{>nadvar}}

    {{!-- contenido principal --}}
    <main>
        <div class="container">
            <h2>Analizador Léxico</h2>

            <iframe class="video" width="560" height="315"
                src="https://www.youtube.com/embed/gSTznFcZSIs?si=q3aC__qIcvKMnehl" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <div class="section">
                <h3>Detalles de la Página Web</h3>
                <div class="proyecto1">

                    <p class="p-p"><strong>Descripción:</strong> Este proyecto de escritorio está diseñado para realizar
                        un análisis exhaustivo de cadenas de datos mediante análisis léxico, sintáctico y semántico.
                        Comienza con el análisis léxico, que descompone la cadena en tokens, clasificándolos en
                        categorías como identificadores y operadores. Luego, el análisis sintáctico evalúa estos tokens,
                        construyendo un árbol de sintaxis que verifica si están organizados según las reglas
                        gramaticales del lenguaje. Finalmente, el análisis semántico comprueba el significado de las
                        expresiones, validando tipos de datos y la coherencia de las operaciones. <br><br>
                        La herramienta proporciona retroalimentación detallada sobre errores en cada etapa, lo que
                        facilita la
                        depuración. En conjunto, este sistema es útil para desarrolladores y estudiantes que buscan
                        comprender la estructura y semántica de lenguajes de programación o lenguajes formales.</p>
                    <p class="p-p"><strong>Categoría:</strong> Educativa</p>
                    <p class="p-p"><strong>Tecnologías Utilizadas:</strong>C#</p>
                    <p class="p-desc"><strong>Haz clic para ver el repositorio en GitHub</strong></p>
                    <a href="https://github.com/JohnyChiroy/Proyecto-Analizador-L-xico" target="_blank"><img
                            src="/img/p-analizadorlexico.png" alt="p-analizadorlexico" class="icono-proyecto"
                            title="Ver en GitHub"></a>
                </div>
            </div>

        </div>
    </main>

    {{>footer}}

</body>

</html>