<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Probabilidad</title>
    <link rel="stylesheet" href="./css/estilosproyectos.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
</head>

<body>
    {{>header}}
    {{>nadvar}}

    {{!-- contenido principal --}}
    <main>
        <div class="container">
            <h2>Probabilidad Estadística</h2>
        
            <div class="section">
                <h3>Detalles de la Página Web</h3>
                <div class="proyecto1">

                    <p class="p-p"><strong>Descripción:</strong> Este proyecto de escritorio está diseñado para analizar
                        y calcular probabilidades estadísticas utilizando diversos teoremas y enfoques en estadística.
                        La herramienta permite a los usuarios ingresar datos relevantes, y a partir de estos, aplica
                        teoremas. La interfaz es intuitiva y permite a los usuarios seleccionar diferentes tipos de
                        análisis, como distribuciones de probabilidad, intervalos de confianza y pruebas de hipótesis.
                    </p>
                    <p class="p-p"><strong>Categoría:</strong> Educativa</p>
                    <p class="p-p"><strong>Tecnologías Utilizadas:</strong>C++</p>
                    <p class="p-desc"><strong>Haz clic para ver el repositorio en GitHub</strong></p>
                    <a href="https://github.com/JohnyChiroy/portafolio_probabilidades_estadisticos" target="_blank"><img
                            src="/img/p-prbestadistica.png" alt="p-prbestadistica" class="icono-proyecto"
                            title="Ver en GitHub"></a>
                </div>
            </div>

        </div>
    </main>

    {{>footer}}

</body>

</html>