<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Docket</title>
    <link rel="stylesheet" href="./css/estilosproyectos.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
</head>

<body>
    {{>header}}
    {{>nadvar}}

    {{!-- contenido principal --}}
    <main>
        <div class="container">
            <h2>Control Órdenes</h2>
            <iframe class="video" width="560" height="315"
                src="https://www.youtube.com/embed/15c5J3Lh_Og?si=2dNRgMwz1j1I3lYG" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <div class="section">
                <h3>Detalles de la Página Web</h3>

                <div class="proyecto1">

                    <p class="p-p"><strong>Descripción:</strong> Este proyecto de escritorio está diseñado para
                        facilitar el registro, control y gestión de órdenes dentro de un entorno comercial o de
                        servicios. Permite a los usuarios ingresar datos relacionados con cada orden, incluyendo
                        información sobre clientes, productos, cantidades y fechas de entrega, lo que ayuda a mantener
                        un seguimiento claro y organizado de todas las transacciones. La interfaz es intuitiva, lo que
                        permite a los empleados gestionar órdenes de manera eficiente, desde su creación hasta su
                        cierre. <br> <br>
                        Además, el sistema incluye funciones para actualizar el estado de las órdenes. Este
                        proyecto no solo mejora la eficiencia en la gestión de órdenes, sino que también optimiza el
                        servicio al cliente.</p>
                    <p class="p-p"><strong>Categoría:</strong> Gestiones</p>
                    <p class="p-p"><strong>Tecnologías Utilizadas:</strong>C++</p>
                    <p class="p-desc"><strong>Haz clic para ver el repositorio en GitHub</strong></p>
                    <a href="https://github.com/JohnyChiroy/Docket-Registro-de-Informaci-n" target="_blank"><img
                            src="/img/p-docket.png" alt="p-docket" class="icono-proyecto" title="Ver en GitHub"></a>
                </div>
            </div>

        </div>
    </main>

    {{>footer}}

</body>

</html>