<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Calculadora</title>
    <link rel="stylesheet" href="./css/estilosproyectos.css">
    <link rel="stylesheet" href="/css/estilos.css">
    <link rel="stylesheet" href="./css/normalize.css">
</head>

<body>
    {{>header}}
    {{>nadvar}}

    {{!-- contenido principal --}}
    <main>
        <div class="container">
            <h2>Calculadora Derivadas e Integrales</h2>

            <iframe class="video" width="560" height="315"
                src="https://www.youtube.com/embed/r2jYNkl_04o?si=O3ieXZLa6OeeQ-ax" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>

            <div class="section">
                <h3>Detalles de la Página Web</h3>

                <div class="proyecto1">

                    <p class="p-p"><strong>Descripción:</strong> Este proyecto de escritorio está diseñado para realizar
                        cálculos matemáticos, facilitando operaciones básicas como suma, resta, multiplicación y
                        división. Además, ofrece funcionalidades avanzadas para el cálculo de derivadas e integrales, lo
                        que lo convierte en una herramienta valiosa para estudiantes y profesionales de matemáticas,
                        física e ingeniería. La interfaz es amigable e intuitiva, permitiendo a los usuarios ingresar
                        expresiones matemáticas de manera sencilla y obtener resultados inmediatos. <br> <br>
                        La capacidad de realizar cálculos simbólicos permite a los usuarios manipular funciones y
                        resolver
                        problemas complejos.</p>
                    <p class="p-p"><strong>Categoría:</strong> Educativa</p>
                    <p class="p-p"><strong>Tecnologías Utilizadas:</strong>C++</p>
                    <p class="p-desc"><strong>Haz clic para ver el repositorio en GitHub</strong></p>
                    <a href="https://github.com/JohnyChiroy/Calculadora" target="_blank"><img
                            src="/img/p-calculadora.png" alt="p-calculadora" class="icono-proyecto"
                            title="Ver en GitHub"></a>
                </div>
            </div>

        </div>
    </main>

    {{>footer}}

</body>

</html>